@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    
    main section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #menu {
        display: none;
    } 

}
